#header_start { /*Formating for header of start page */
	padding-top: 15vh;
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 100pt;
    color:white;
    text-shadow: 0 0 15px #FF00FF;
}

#fb_login_btn {
	background-color: #3b5998;
	color: white;
	font-family: Tahoma, sans-serif;
	border: 0;
	font-size: 10pt;
	margin-top: 10vh;
	width: 10vw;
	transition: 0.5s;
	transition-timing-function: ease-out; 	
}

#fb_login_btn:hover {
	width: 15vw;
	font-size: 20pt;
}

/*----------------End of styling for start page-----------------*/
/*----------------Styling of site wide elements-----------------*/

#content { /*Holds the rest of the application*/
	width: 100vw;
	height: 97vh;
    text-align: center;
}
.footer { /*Footer that are used on all pages thru the website */
	font-family: 'Jura', sans-serif;
	width: 100vw;
	color: white;
	font-size: 2vh;
	background-color: rgba(47,36,44,0.4); 
	text-align: center;
	height: 3vh;
	z-index: 100;
}

.magenta-heading-1 {
	font-family: 'Audiowide', cursive;
	font-size: 35pt;
	text-shadow: 0px 0px 10px #FFAAFF;
	transition: 0.5s
}

.magenta-heading-1:hover {
	text-shadow: 0 0 30px #FF00FF;
}

.magenta-text-1 {
	color: white;
	font-family: 'Audiowide', cursive;
	font-size: 16pt;
	text-align: left;
	margin-left: 2vw;
}
.magneta-title {
	height: 9vh;
	font-family: 'Audiowide', cursive;
	font-size: 6.5vh;
	text-align: center;
	text-shadow: 0px 0px 10px #FFAAFF;
	transition: 0.5s;
	margin: 0;
	padding: 0;
}
.magneta-title:hover {
	text-shadow: 0 0 30px #FF00FF;
}

/*----------------END OF Styling of site wide elements-----------------*/

/*----------------Styling for day.html---------------------------*/
#title-holder {
	height: 9vh;
	background-color: blue;
}

.day {
	background-color: #191F36;
	width: 28vw;
	height:79vh;
}

.day-container {
	height: 81vh;
	padding-left: 1vw;
	padding-right: 1vw; 
	float: left;
	background-color: green;
}
.activity_field {
	height: 45vh;
	width: 24vw;
	margin-left: 2vw;
	background-color: white;
}
#date-picker {
	color: black;
	width: 12.5vw;
}
#date-label {
	text-align: left;
	margin-left: 2vw;
}

#start-time-picker {
	width: 8.3vw;
	text-align: center;
	color:black;
}
#end-time {
	background-color: white;
	color: black;
	text-align: center;
	padding-right:3.15vw; 
	padding-left:3.15vw;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}
#duration-time {
	background-color: white;
	color: black;
	text-align: center;
	padding-right:2.5vw; 
	padding-left:2.5vw;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}
#arrow-holder {
	width: 5vw;
	height: 81vh;
	float: left;
	background-color: red;
}

#arrow {
	width: 3vw;
	padding-top: 38vh;
}

.add-activity {
	margin: 0;
	border: none;
	width: 24vw;
	height: 6vh;
	font-size: 24pt;
	background-color: #6D98BA;
	text-align: center;
	transition: all 0.5s ease;
}

.add-activity:hover {
	background-color: #386FA4;
}
.activity {
	margin: 0;
	border: none;
	width: 24vw;
	height: 12vh;
	font-size: 24pt;
	background-color: #554CA5;
	color: white;
	text-align: center;
}
.remove {
	margin: 0;
	width: 24vw;
	height: 5vh;
	font-size: 24pt;
	text-align: center;
	margin-top: 1.5vh;
}
/*----------------END OF Styling of day.html-----------------*/

/*----------------Styling of start-menu.html-----------------*/
#start-menu-header {
	width: 100vw;
	background-color: #F4EBD9;
	height: 15vh;

}
#start-heading {
	text-align: center;
	font-size: 75pt;
	font-family: 'Audiowide', cursive;
	text-shadow: 0px 0px 10px #FFAAFF;
	transition: 0.5s
}

#start-heading:hover {
	text-shadow: 0 0 30px #FF00FF;
}

#start-title {
	text-align: center;
	font-size: 40pt;
	font-family: 'Audiowide', cursive;
}

.start-button {
	width: 60vw;
	height: 10vh;
	text-align: center;
	font-size: 40pt;
	font-family: 'Audiowide', cursive;
	color: white;
	transition: all 0.5s ease;
	background-color: #994D83;
	margin-top: 5vh;
	border: none;
}

.start-button:hover {
	background-color: #992083; 
	color: white;
	text-shadow: 0 0 30px white;

}

/*-------------Styiling of header (not used on start-menu.html and home.html)-----------*/
.header {
	height: 16vh;
}

#dropdown_container {
	height: 7vh;
	font-family: 'Audiowide', cursive;
	font-size: 3vh;
	text-align: left;
	color: white;
	background-color: #994D83; 
	transition: 0.5s;
	padding: 0;
	z-index: 100;
}

#heading_container {
	padding-right: 10vw;
	height: 7vh;
	text-align: right;
	background-color: #F4EBD9; 
}

#dropdown_container:hover {
	background-color: #992083;
}

nav ul {
	-webkit-font-smoothing:antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
}

#topp_list {
	margin-top: 1.5vh;
}

nav a {
    color:inherit;
    text-shadow: 0 0 10px #FFAAFF;
    display: block;
    padding: 0 25px;
    height: 5.5vh;
    text-align: center;
    text-decoration: none;
  	transition: all 0.5s ease;
}
nav .dropdown:after {
    content: ' ▶';
}
nav .dropdown:hover:after{
	content:'\25bc'
}
nav li:hover a {
    background: #2D3142;
}
#topp {
	background: transparent;
	color: white;
	text-shadow: none;
}

nav li ul {
    float: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #4F5D75;
    color: white;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​

/*----------------END OF HEAFER CSS-----------------*/

HTMLJSCSS
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }

