#header_start {
	display: inline-block;
    font-family: 'Audiowide', cursive;
    line-height: 100pt;
    height: 110pt;
    text-align: center;
    font-size: 100pt;
    color:white;
}

#sub_header_start {
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 40pt;
    color:white;
}

#content {
	width: 100vw;
	height: 95vh;
    text-align: center;
}
#footer {
	font-family: 'Jura', sans-serif;
	padding-top: 1vh;
	width: 100vw;
	color: white;
	font-size: 2vh;
	background-color: rgba(47,36,44,0.4); 
	text-align: center;
	height: 5vh;
}
