<div>
	<div class="header">
		<ng-include src="'partials/header.html'"></ng-include>
	</div>
	<div class="title-holder">
		<p class="magenta-title col-md-12">MY EVENTS</p>
	</div>
	<div id="my-events-container">
		<div>
			<hr class="divider-magenta">
			<a href="">
				<div class="saved-event">
					<div class="row-1">
						<p class="column-1">TITLE</p>
						<p class="column-2">DATE</p>
						<p class="column-3">HEJ</p>
					</div>
					<div class="row-2">
						<p class="column-1">TITLE OF EVENT HERE</p>
						<p class="column-2">YYYY-MM-DD</p>
						<a class="column-3 btn btn-info" href="">EDIT</a>
					</div>
				</div>
			</a>
		</div>
		<div>
			<hr class="divider-magenta">
			<div class="saved-event"></div>
		</div>
		<div>
			<hr class="divider-magenta">
			<div class="saved-event"></div>
		</div>
		<div>
			<hr class="divider-magenta">
			<div class="saved-event"></div>
		</div>
		<hr class="divider-magenta">
	</div>

</div>