<div class="header">
	<ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder">
	<p class="magenta-title col-md-12">MY EVENTS</p>
</div>
<div id="my-events-container">
	<hr class="magenta-divider">
	<div class="saved-event" >
		<a href="#/event">
			<p class="column-1 row-1 magenta-text-2">TITLE</p>
			<p class="column-2 row-1 magenta-text-2">DATE</p>
			<p class="column-3 row-1 magenta-text-2	"></p>
		</a>
		<a href="#/event">
			<p class="column-1 row-2 magenta-text-2">PHYSICHS CONFERENCE AT KTH</p>
			<p id="date-browser" class="column-2 row-2 magenta-text-2">2016-04-12</p>
			<div class="column-3 row-2 magenta-text-2">
				<a id="button-browser" class="btn magenta-text-2" href="">DETAILS</a>
			</div>
		</a>
	</div>
	<hr class="magenta-divider">
	<div class="saved-event" >
		<a href="#/event">
			<p class="column-1 row-1 magenta-text-2">TITLE</p>
			<p class="column-2 row-1 magenta-text-2">DATE</p>
			<p class="column-3 row-1 magenta-text-2	"></p>
		</a>
		<a href="#/event">
			<p class="column-1 row-2 magenta-text-2">CAR SHOW AT STOCKHOLMSMASSAN</p>
			<p id="date-browser" class="column-2 row-2 magenta-text-2">2016-05-23</p>
			<div class="column-3 row-2 magenta-text-2">
				<a id="button-browser" class="btn magenta-text-2" href="">DETAILS</a>
			</div>
		</a>
	</div>
	<hr class="magenta-divider">
	<div class="saved-event" >
		<a href="#/event">
			<p class="column-1 row-1 magenta-text-2">TITLE</p>
			<p class="column-2 row-1 magenta-text-2">DATE</p>
			<p class="column-3 row-1 magenta-text-2	"></p>
		</a>
		<a href="#/event">
			<p class="column-1 row-2 magenta-text-2">SUMMERBURST HOUSE FESTIVAL</p>
			<p id="date-browser" class="column-2 row-2 magenta-text-2">2016-07-12</p>
			<div class="column-3 row-2 magenta-text-2">
				<a id="button-browser" class="btn magenta-text-2" href="">DETAILS</a>
			</div>
		</a>
	</div>
	<hr class="magenta-divider">
	<div class="saved-event" >
		<a href="#/event">
			<p class="column-1 row-1 magenta-text-2">TITLE</p>
			<p class="column-2 row-1 magenta-text-2">DATE</p>
			<p class="column-3 row-1 magenta-text-2	"></p>
		</a>
		<a href="#/event">
			<p class="column-1 row-2 magenta-text-2">DRAMA BOOK READING</p>
			<p id="date-browser" class="column-2 row-2 magenta-text-2">2016-08-16</p>
			<div class="column-3 row-2 magenta-text-2">
				<a id="button-browser" class="btn magenta-text-2" href="">DETAILS</a>
			</div>
		</a>
	</div>
	<hr class="magenta-divider">
</div>