<div class="header">
	<ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder">
	<p class="magenta-title col-md-12">MY EVENTS</p>
</div>


<div id="my-events-container">
		<div class="saved-event" ng-repeat="event in events">
			<a href="#/event">
				<p class="column-1 row-1 magenta-text-2">TITLE</p>
				<p class="column-2 row-1 magenta-text-2">DATE</p>
				<p class="column-3 row-1 magenta-text-2	"></p>
			</a>
			<a href="#/edit-event/{{event._id}}">
				<p class="column-1 row-2 magenta-text-2">{{event.name}}</p>
				<p id="date-browser" class="column-2 row-2 magenta-text-2">2016-04-12</p>
				<div class="column-3 row-2 magenta-text-2">
					<a href="#/event/{{event._id}}" id="button-browser" class="btn magenta-text-2">DETAILS</a>
				</div>
			</a>
		</div>
</div>