<div class="header-container">
    <ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder">
    <p class="magenta-title col-md-12">MY EVENTS</p>
</div>

<div id="my-events-container">
    <div class="saved-event" ng-repeat="event in events">
        <a href="#/event">
            <!-- IF OWNER OF EVENT -->
            <p class="column-1 row-1 magenta-text-2" ng-show={{isMyEvent(event._id)}} style="color:white;background-color: magenta;">TITLE</p>
            <p class="column-2 row-1 magenta-text-2" ng-show={{isMyEvent(event._id)}} style="color:white;background-color: magenta;">DATE</p>
            <p class="column-3 row-1 magenta-text-2" ng-show={{isMyEvent(event._id)}} style="color:white;background-color: magenta;"</p>
            <!-- IF NOT OWNER OF EVENT -->
            <p class="column-1 row-1 magenta-text-2" ng-hide={{isMyEvent(event._id)}}>TITLE</p>
            <p class="column-2 row-1 magenta-text-2" ng-hide={{isMyEvent(event._id)}}>DATE</p>
            <p class="column-3 row-1 magenta-text-2" ng-hide={{isMyEvent(event._id)}}></p>
        </a>
        <a>
            <!-- IF OWNER OF EVENT -->
            <p id="title-browser" class="column-1 row-2 magenta-text-2" ng-show={{isMyEvent(event._id)}} style="background-color: #DCB4DC">{{shortenTitle(event.name)}}</p>
            <p id="date-browser" class="column-2 row-2 magenta-text-2" ng-show={{isMyEvent(event._id)}} style="background-color: #DCB4DC">{{getFormatedDate(event.days)}}</p>
            <div class="column-3 row-2 magenta-text-2 btn-group-vertical" id="button-row" ng-show={{isMyEvent(event._id)}} style="background-color: #DCB4DC; height: 7vh; width: 25%" >
                <a ng-click="gotoDetails(event._id);" id="button-browser-1" class="btn magenta-text-2" ng-show={{isMyEvent(event._id)}} style="width: 62%">EVENT SCHEDULE</a>
                <a ng-click="gotoEdit(event._id);" id="button-browser-2" ng-show={{isMyEvent(event._id)}} class="btn magenta-text-2" style="width: 62%">EDIT EVENT</a>
            </div>
            <!-- IF NOT OWNER OF EVENT -->
            <p id="title-browser" class="column-1 row-2 magenta-text-2" ng-hide={{isMyEvent(event._id)}}    >{{shortenTitle(event.name)}}</p>
            <p id="date-browser" class="column-2 row-2 magenta-text-2" ng-hide={{isMyEvent(event._id)}}>{{getFormatedDate(event.days)}}</p>
            <div class="column-3 row-2 magenta-text-2 btn-group-vertical" id="button-row" ng-hide={{isMyEvent(event._id)}}>
                <a ng-click="gotoDetails(event._id);" id="button-browser-1" class="btn magenta-text-2" ng-hide={{isMyEvent(event._id)}}>EVENT SCHEDULE</a>
                <a ng-click="gotoEdit(event._id);" id="button-browser-2" ng-hide={{isMyEvent(event._id)}} class="btn magenta-text-2">EVENT DETAILS</a>
            </div>
        </a>
    </div>
</div>
