<div class="header">
	<ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder col-md-12">
	<p class="magenta-title">CREATE A NEW EVENT</p>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">TITLE OF EVENT: </span>
	<input id="title-input" type="text" class="magenta-input col-md-8" placeholder="Title"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">DESCRIPTION: </span>
	<input id="description-input" type="text" class="magenta-input col-md-8" placeholder="Description"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">START DATE: </span>
	<input id="date-input" type="date" class="magenta-input col-md-8"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">ADD PARTICIPANT: </span>
	<input id="participant-input" type="text" class="magenta-input col-md-8" placeholder="Enter name of particpant"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">INVITED: </span>
	<div id="invited-field" class="col-md-8">
		<div id="participant" class="col-md-12">
			<div id="pic-holder" class="col-md-2">
				<img id="pic" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xla1/v/t1.0-1/p160x160/10888879_10204621052745044_7690107695651824860_n.jpg?oh=4a2cf0cafd310dac4a50d3361fb53668&oe=57A95F39"></img>
			</div>
			<span id="participant-label" class="col-md-8">JAKOB FALL</span>
			<a class="btn btn-danger btn-delete col-md-2" href="">X</a>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-3"></div>
	<a class="btn col-md-6 btn-save" href="#/new-event">SAVE</a>
	<div class="col-md-3"></div>
</div>