<div class="day">
	<p style="color:white" class="magenta-heading-1">WEEKDAY</p>
	<p id="date-label" class="magenta-text-1">DATE: <input type="date" id="date-picker"></p>
	<p class="magenta-text-1">START TIME: <input type="time" id="start-time-picker"></input></p>
	<p class="magenta-text-1">END TIME: <span id="end-time">14:00</span></p>
	<p class="magenta-text-1">DURATION: <span id="duration-time">06:00</span></p>
	<div class="activity_field">
		<button class="activity magenta-text-1">INTRODUCTION</button>
		<button class="add-activity magenta-text-1">+ ADD ACTIVITY</button>
	</div>
	<button class="btn-danger magenta-text-1 remove">REMOVE DAY</button>
</div>
