<script>
	$(function() { $( "#datepicker" ).datepicker();
  	});
</script>
<div class="day">
	<p style="color:white" class="magenta-heading-1">WEEKDAY</p>
	<p id="date-label" class="magenta-text-1">DATE: <input type="text" id="datepicker"></p>
	<p class="magenta-text-1">START TIME: <input type="text" id="start-time-picker"></input></p>
	<p class="magenta-text-1">END TIME:</p>
	<p class="magenta-text-1">DURATION:</p>
	<div class="activity_field">
		<button class="activity magenta-text-1">INTRODUCTION</button>
		<button class="add-activity magenta-text-1">+ ADD ACTIVITY</button>
	</div>
</div>