<div class="day col-md-12">
	<p style="color:white" class="magenta-heading-1">WEEKDAY</p>
	<div class="col-md-12">
		<p class="magenta-text-1 col-md-5">DATE: </p>
		<input class="col-md-7 mag-input-2" type="date">
		
	</div>
	<div class="col-md-12">
		<p class="magenta-text-1 col-md-5">START TIME: </p>
		<input class="col-md-7 mag-input-2" type="time" ></input>
		
	</div>
	<div class="col-md-12">
		<p class="magenta-text-1 col-md-5">END TIME: </p>
		<span class="col-md-7 mag-input-2">14:00</span>
		
	</div>
	<div class="col-md-12">
		<p class="magenta-text-1 col-md-5">DURATION: </p>
		<span class="col-md-7 mag-input-2">06:00</span>
	</div>
	<div class="col-md-12">
		<div class="activity_field col-md-12">
			<a href="#/new-activity"><button class="btn activity magenta-text-1">INTRODUCTION</button></a>
			<a href="#/new-activity"><button class="btn add-activity magenta-text-1">+ ADD ACTIVITY</button></a>
		</div>
	</div>
	<button class="btn-danger magenta-text-1 remove">REMOVE DAY</button>
</div>
