<div class="header-container">
    <ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder col-md-12">
    <!-- Owner -->
    <p class="magenta-title" ng-show={{isMyEvent}}>EDIT EVENT</p>
    <!-- Guest -->
    <p class="magenta-title" ng-hide={{isMyEvent}}>EVENT OVERVIEW</p>
</div>
<form>
    <div class="col-md-12">
        <span class="magenta-label col-md-4">TITLE OF EVENT: </span>
        <input ng-show={{isMyEvent}} id="title-input" ng-model="title" type="text" class="magenta-input col-md-8" placeholder="Title"></input>
        <span ng-hide={{isMyEvent}} class="magenta-label col-md-8" style="text-align:left;">{{title}}</span>
    </div>
    <div class="col-md-12" ng-show={{isMyEvent}}>
        <span class="magenta-label col-md-4">ADD PARTICIPANT: </span>
        <div class="col-md-5" id="dropdown_container-act">  
        <nav>
            <ul class="cf">
                <li >
                    <p class="dropdown" href="#">PARTICIPANT</p>
                    <ul>
                        <li><a ng-click="add(f.id);" ng-repeat="f in friends" value="{{f.id}}">{{f.name}}</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--<select ng-model="selected" ng-change="add()">
			<option ng-repeat="f in friends" value="{{f.id}}">{{f.name}}</option>
		</select> -->
    </div>
    <div class="col-md-12" ng-hide={{isMyEvent}}>
        <span class="magenta-label col-md-4">HOST: </span>
        <span class="magenta-label col-md-8" style="text-align:left;">{{owner.name}}</span>
    </div>
    <div class="col-md-12">
        <span class="magenta-label col-md-4">INVITED: </span>
        <div id="invited-field" class="col-md-5">
            <div id="participant" class="col-md-12" ng-repeat="g in guests">
                <div id="pic-holder" class="col-md-2">
                    <img id="pic" ng-src="{{g.imgUrl}}"></img>
                </div>
                <span id="participant-label" class="col-md-8">{{g.name}}</span>
                <button class="btn btn-danger btn-delete col-md-2" ng-click="remove(g.id)" ng-show={{isMyEvent}}>X</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2"></div>

        <!-- Owner -->
        <a class="btn col-md-3 btn-save" ng-click="saveEvent();" ng-show={{isMyEvent}}>SAVE</a>
        <div class="col-md-2" ng-show={{isMyEvent}}></div>
        <a class="btn col-md-3 btn-cancel" ng-click="removeEvent();" ng-show={{isMyEvent}}>REMOVE</a>
        <!-- Guest -->
        <div class="col-md-2" ng-hide={{isMyEvent}}></div>
        <a class="btn col-md-4 btn-save" ng-click="viewDetails();" ng-hide={{isMyEvent}}>VIEW DETAILS</a>
        <div class="col-md-2" ng-hide={{isMyEvent}}></div>

        <div class="col-md-2"></div>
    </div>
</form>
