<div class="header-container">
    <ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder">
    <div id="button-title-holder" class="col-md-3">
    </div>
    <p class="magenta-title col-md-6">{{mEvent.name}}</p>
    <div id="button-title-holder" class="col-md-3">
        <a class="btn btn-success btn-title magenta-text-1" href="" ng-click="addDay()">+ ADD DAY</a>
        <a class="btn btn-info btn-title magenta-text-1" href="#/edit-event/">EDIT EVENT</a>
    </div>
</div>
<div id="arrow-holder">
    <img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-1_zpszmz3vkbm.png" ng-click="prevPage()" ng-show="hasPagesToLeft()">
</div>
<div class="day-container" ng-repeat="day in cPage">
    <div class="day col-md-12">
        <p style="color:white" class="magenta-heading-1">{{getDayName(day.date)}}</p>
        <div class="col-md-12">
            <p class="magenta-text-1 col-md-5">DATE: </p>
            <p class="magenta-text-1 col-md-5">{{day.date}}</p>
            <div class="col-md-1"><button ng-click="changeDay(day.date,day.start, 'add')">+</button></div>
            <div class="col-md-1"><button ng-click="changeDay(day.date,day.start, 'sub')">-</button></div>
        </div>
        <div class="col-md-12">
            <p class="magenta-text-1 col-md-5">START TIME: </p>
            <p class="magenta-text-1 col-md-5">{{day.start}}</p>
            <div class="col-md-1"><button ng-click="changeStart(day.date,day.start, 'add')">+</button></div>
            <div class="col-md-1"><button ng-click="changeStart(day.date,day.start, 'sub')">-</button></div>
        </div>
        <div class="col-md-12">
            <p class="magenta-text-1 col-md-5">END TIME: </p>

        </div>
        <div class="col-md-12">
            <p class="magenta-text-1 col-md-5">DURATION: </p>
        </div>
        <div class="col-md-12">
            <div class="activity_field col-md-12">
                <a href="#/new-activity"><button class="btn activity magenta-text-1">INTRODUCTION</button></a>
                <a href="#/new-activity"><button class="btn add-activity magenta-text-1">+ ADD ACTIVITY</button></a>
            </div>
        </div>
        <button class="btn-danger magenta-text-1 remove" ng-click="deleteDay(day.date)">REMOVE DAY</button>
    </div>
</div>
<div id="arrow-holder">
    <img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-2_zps1cl7bqyj.png" ng-click="nextPage()" ng-show="hasPagesToRight()">
</div>
