<div>
	<div class="header">
		<ng-include src="'partials/header.html'"></ng-include>
	</div>
	<div id="arrow-holder">
		<img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-1_zpszmz3vkbm.png">
	</div>
	<div class="day-container" >
		<ng-include src="'partials/day.html'"></ng-include>	
	</div>
	<div class="day-container" >
		<ng-include src="'partials/day.html'"></ng-include>	
	</div>
	<div class="day-container" >
		<ng-include src="'partials/day.html'"></ng-include>	
	</div>
	<div id="arrow-holder">
		<img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-2_zps1cl7bqyj.png">
	</div>
</div>