<div class="header-container">
    <ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="btn-title-holder col-md-3">
</div>
<p id="title-holder" class="magenta-title col-md-6">{{mEvent.name}}</p>
<div class="btn-title-holder col-md-3">
    <a class="btn btn-success btn-title magenta-text-1" href="" ng-click="addDay()" ng-show="{{isMyEvent}}">+ ADD DAY</a>
    <a class="btn btn-info btn-title magenta-text-1" ng-show={{isMyEvent}} href="#/edit-event/">EDIT EVENT</a>
    <a class="btn btn-info btn-title magenta-text-1" ng-hide={{isMyEvent}} href="#/edit-event/">VIEW EVENT</a>
</div>

<div class="arrow-holder">
    <img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-1_zpszmz3vkbm.png" ng-click="prevPage()" ng-show="hasPagesToLeft()">
</div>

<div class="day-container">
    <div ng-repeat="day in cPage">
        <div class="col-md-4">
            <div class="day col-md-12">
                <p style="color:white" class="magenta-heading-1">{{getDayName(day.date)}}</p>
                <div class="col-md-12">
                    <p class="magenta-text-1 col-md-4">DATE:</p>
                    <p style="text-align: left;" class="magenta-text-3 col-md-5">{{day.date}}</p>
                    <div class="btn-group col-md-3">
                        <button ng-click="changeDay(day.date,day.start, 'add')" ng-show="{{isMyEvent}}" class="btn magenta-text-2 float">+</button>
                        <button ng-click="changeDay(day.date,day.start, 'sub')" ng-show="{{isMyEvent}}" class="btn magenta-text-2 float">-</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="magenta-text-1 col-md-4">START:</p>
                    <p style="text-align: left;" class="magenta-text-3 col-md-5">{{day.start}}</p>
                    <div class="btn-group col-md-3">
                        <button ng-click="changeStart(day.date,day.start, 'add')" ng-show="{{isMyEvent}}" class="btn magenta-text-2 float">+</button>
                        <button ng-click="changeStart(day.date,day.start, 'sub')" ng-show="{{isMyEvent}}" class="btn magenta-text-2 float">-</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="magenta-text-1 col-md-4">END:</p>
                    <p class="magenta-text-3 col-md-7">{{day.end}} </p>
                </div>
                <div class="col-md-12">
                    <p class="magenta-text-1 col-md-4">LENGTH:</p>
                    <p class="magenta-text-3 col-md-7">{{day.length}} </p>
                </div>
                <div class="col-md-12">
                    <div class="activity-field col-md-12">
                        <a href="#/edit-activity"><button ng-click="createActivity(day)" class="btn add-activity magenta-text-1" ng-show="{{isMyEvent}}">+ ADD ACTIVITY</button></a>

                        <ul ng-show={{isMyEvent}} id="dragndrop" dnd-list="day.activities" dnd-drop="moveActivityCallback(event, index, item, external, type, 'itemType', day)">

                            <!-- The dnd-draggable directive makes an element draggable and will
                                 transfer the object that was assigned to it. If an element was
                                 dragged away, you have to remove it from the original list
                                 yourself using the dnd-moved attribute -->
                            <div ng-repeat="activity in day.activities" dnd-effect-allowed="move" dnd-draggable="activity" dnd-moved="day.activities.splice($index, 1); reArrangeActivities()" dnd-effect-allowed="move">
                                <button style="background-color: {{activity.activityColor}}" ng-click="editActivity(day, $index)" class="btn activity magenta-text-1">{{activity.name}}</button>
                            </div>
                        </ul>
                        <a ng-hide={{isMyEvent}} ng-repeat="activity in day.activities" href="#/edit-activity">
                            <button style="background-color: {{activity.activityColor}}" ng-click="editActivity(day, $index)" href="#/edit-activity" class="btn activity magenta-text-1">{{activity.name}}</button>
                        </a>
                    </div>
                </div>
                <button class="btn-danger magenta-text-1 remove" ng-click="deleteDay(day.date)" ng-show="{{isMyEvent}}">REMOVE DAY</button>
            </div>
        </div>
    </div>
</div>

<div class="arrow-holder">
    <img id="arrow" src="http://i1155.photobucket.com/albums/p556/Jakob_Fall/Projekt-iprog/pil-2_zps1cl7bqyj.png" ng-click="nextPage()" ng-show="hasPagesToRight()">
</div>
