{{me.name}} {{me.id}} <img ng-src={{me.imgUrl}} />
<div>
    <ul>
        <li ng-repeat="friend in friends">
            {{friend.name}} <img ng-src={{friend.imgUrl}} />
        </li>
    </ul>
</div>
userLoginStatus: {{userLoginStatus}} getLoginStatus: {{getLoginStatusStatus}}, getMeStatus: {{getMeStatus}}, getFriendsStatus {{getFriendsStatus}}, loginStatus: {{loginStatus}}, logoutStatus: {{logoutStatus}}
<button ng-click="getLoginStatus()">Logged in</button><button ng-click="login()">Log in</button><button ng-click="logout()">Log out</button><button ng-click="getMe()">Get Me</button><button ng-click="getFriends()">Friends</button>
