
<div id=dropdown_container class="col-md-3">
    <nav>
        <ul class="cf">
            <li id="topp_list"><a id="topp" class="dropdown" href="#">NAVIGATE</a>
                <ul>
                    <li><a href="#">EVENT OVERVIEW</a></li>
                    <li><a href="#">CREATE NEW EVENT</a></li>
                    <li><a href="#">MODIFY MY EVENTS</a></li>
                    <li><a href="#">EVENTS INVITED TO</a></li>
                </ul>
                </li>
        </ul>
    </nav>
</div>
<div id="heading_container" class="col-md-9">
	<p class="magenta-heading-1">MAGENTA</p>
</div>