
<div id=dropdown_container class="col-md-3">
    <nav>
        <ul class="cf">
            <li id="topp_list"><a id="topp" class="dropdown" href="#">NAVIGATE</a>
                <ul>
                    <!-- <li><a href="#/event">EVENT OVERVIEW</a></li> -->
                    <li><a href="#/create-event">CREATE NEW EVENT</a></li>
                    <li><a href="#/browse-event">CHECK MY EVENTS</a></li>
                </ul>
                </li>
        </ul>
    </nav>
</div>
<div id="heading_container" class="col-md-9">
	<a href="#/start-menu"><p style="color: black" class="magenta-heading-1">MAGENTA</p></a>
</div>
