<div class="header">
	<ng-include src="'partials/header.html'"></ng-include>
</div>
<div class="title-holder col-md-12">
	<p class="magenta-title">ADD ACTIVITY</p>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">TITLE OF ACTIVITY: </span>
	<input type="text" class="magenta-input col-md-5" placeholder="Title"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">START TIME: </span>
	<input type="time" class="magenta-input col-md-3"></input>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">TYPE OF ACTIVTY: </span>
	<div class="col-md-4" id="dropdown-act">
		<nav>
	        <ul class="cf">
	            <li id="topp_list"><p id="topp-act" class="dropdown" href="#">NAVIGATE</p>
	                <ul>
	                    <li><a href="#/event">TYPE1</a></li>
	                    <li><a href="#/edit-event">TYPE2</a></li>
	                    <li><a href="#/browse-events">TYPE3</a></li>
	                </ul>
	                </li>
	        </ul>
	    </nav>
    </div>
</div>
<div class="col-md-12">
	<span class="magenta-label col-md-4">DESCRIPTION: </span>
	<textarea id="description-field" class="col-md-5" type="text"></textarea>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<a class="btn col-md-3 btn-save" href="#/event">SAVE</a>
	<div class="col-md-2"></div>
	<a class="btn col-md-3 btn-cancel" href="#/event">CANCEL</a>
	<div class="col-md-"></div>
</div>