<button ng-click="login()">login</button>
<button ng-click="logout()">logout</button>
<button ng-click="addEvent()">add event</button>
<button ng-click="getEvent()">get event</button>
<button ng-click="getEvents()">get events</button>
<button ng-click="getFriends()">get friends</button>
<button ng-click="addDay()">add day</button>
<button ng-click="addActivity()">add activity</button>
<button ng-click="deleteEvent()">delete event</button>
<button ng-click="deleteDay()">delete day</button>
<button ng-click="deleteActivity()">delete activity</button>
<button ng-click="moveActivity()">move activity</button>
