<div id="start-menu-header" class="col-md-12">
	<p id="start-heading" >MAGENTA</p>
</div>
<p id="start-title" class="col-md-12">WHAT DO YOU WANT TO DO?</p>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<a class="btn start-button col-md-8" ng-click="createEvent()" >CREATE A NEW EVENT</a>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<a class="btn start-button col-md-8" href="#/browse-events">CHECK MY EVENTS</a>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<p class="col-md-12">FOR BEST EXPERIENCE, SET ZOOM SO THAT TEXT JUST TOUCHES UNDERSIDE </p>
	<div class="col-md-12">
	<div style="margin: none; padding: none;background-color: blue;height: 6vh;">
	<p id="test-sak" style="background-color: yellow;font-size: 40pt;">SCALE TEXT</p>
	</div>
	</div>
</div>